<div class="container mt-50">
  <div class="row justify-content-center">
    <div class="col-md-60">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
          <h2 class="my-2 text-center">
            <i class="bi bi-people-fill"></i>
            Lista de Usuarios
            <i class="bi bi-person-badge"></i>
          </h2>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <a href="admin/usuario/create" class="btn btn-success">
              <i class="bi bi-plus-circle"></i>
              Crear nuevo usuario
            </a>
            <div class="input-group w-25">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                (keyup)="filter($event)"
                [(ngModel)]="strFiltro"
              />
              <button class="btn btn-outline-secondary" type="button">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <h5 class="text-muted">
              @if (strFiltro.length > 0) { Filtrado por:
              <span class="text-primary">{{ strFiltro }}</span>
              } @else { Sin filtrar }
            </h5>
            <h5 class="text-muted">
              Mostrando {{ oPage?.numberOfElements | number : "1.0-0" }} de
              {{ oPage?.totalElements | number : "1.0-0" }}
            </h5>
          </div>

          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead class="thead-dark">
                <tr>
                  <th (click)="sort('username')" class="cursor-pointer text-center">
                    Username @if (strField === 'username') { @if (strDir ===
                    'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('nombre')" class="cursor-pointer text-center">
                    Nombre @if (strField === 'nombre') { @if (strDir === 'desc')
                    {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('apellido1')" class="cursor-pointer text-center">
                    Primer Apellido @if (strField === 'apellido1') { @if (strDir
                    === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('telefono')" class="cursor-pointer text-center">
                    Télefono @if (strField === 'telefono') { @if (strDir ===
                    'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('email')" class="cursor-pointer text-center">
                    Correo @if (strField === 'email') { @if (strDir === 'desc')
                    {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('active')" class="cursor-pointer text-center">
                    Estado @if (strField === 'active') { @if (strDir === 'desc')
                    {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('saldo')" class="cursor-pointer text-center">
                    Saldo @if (strField === 'saldo') { @if (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('ultimoLoginEn')" class="cursor-pointer text-center">
                    Ultimo Login @if (strField === 'ultimoLoginEn') { @if
                    (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('tipousuario')" class="cursor-pointer text-center">
                    Tipo de usuario @if (strField === 'tipousuario') { @if
                    (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('Gcontrata')" class="cursor-pointer text-center">
                    Compras @if (strField === 'Gcontrata') { @if (strDir ===
                    'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>

                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                @for (usuario of oPage?.content; track usuario.id) {
                <tr>
                  <td class="text-center">{{ usuario.username }}</td>
                  <td>{{ usuario.nombre | trim : 10 }}</td>
                  <td>{{ usuario.apellido1 }}</td>
                  <td>{{ usuario.telefono }}</td>
                  <td style="font-size: small">{{ usuario.email }}</td>
                  <td>
                    @if (usuario.active) {
                    <i><i class="bi bi-check-circle-fill"></i></i>
                    }@else {
                    <i><i class="bi bi-x-circle-fill"></i></i>}
                  </td>
                  <td>{{ usuario.saldo | number: '1.2-2'}}</td>
                  <td>
                    {{ usuario.ultimoLoginEn | date : "dd/MM/yyyy HH:mm" }}
                  </td>
                  <td class="text-start">
                    <a
                      href="admin/tipousuario/view/{{ usuario.tipousuario.id }}"
                    >
                      {{ usuario.tipousuario.titulo }} ({{
                        usuario.tipousuario.id
                      }})
                    </a>
                    <a
                      href="admin/usuario/plist/xtipousuario/{{
                        usuario.tipousuario.id
                      }}"
                    >
                      <i class="bi bi-filter-circle"></i>
                    </a>
                    <i
                      class="bi bi-arrow-repeat"
                      (click)="showTipousuarioSelectorModal(usuario.id)"
                    ></i>
                  </td>
                  <td class="text-center">
                    <a
                      href="admin/gcontrata/xusuario/plist/{{ usuario.id }}"
                      class="btn btn-ver-contratos"
                    >
                      <i class="fas fa-file-contract"></i> Ver Compras
                    </a>
                  </td>

                  <td>
                    <div class="btn-group" role="group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-primary"
                        (click)="view(usuario)"
                      >
                        <i class="bi bi-eye"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-warning"
                        (click)="edit(usuario)"
                      >
                        <i class="bi bi-pencil"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-danger"
                        (click)="remove(usuario)"
                      >
                        <i class="bi bi-trash"></i>   
                      </button>
                    </div>
                  </td>
                </tr>
                } @empty {
                <tr>
                  <td colspan="7" class="text-center">No hay usuarios</td>
                </tr>
                }
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-4">
            <nav>
              <ul class="pagination mb-0">
                <li class="page-item" [class.active]="nRpp === 10">
                  <a class="page-link" (click)="goToRpp(10)" href="#">10</a>
                </li>
                <li class="page-item" [class.active]="nRpp === 50">
                  <a class="page-link" (click)="goToRpp(50)" href="#">50</a>
                </li>
                <li class="page-item" [class.active]="nRpp === 100">
                  <a class="page-link" (click)="goToRpp(100)" href="#">100</a>
                </li>
              </ul>
            </nav>

            <nav>
              <ul class="pagination mb-0">
                <li class="page-item">
                  <a
                    class="page-link"
                    [class.disabled]="nPage - -1 === 1"
                    (click)="goToPrev()"
                    href="#"
                  >
                    <i class="bi bi-chevron-left"></i>
                    Anterior
                  </a>
                </li>
                @for (pag of arrBotonera; track pag) {
                <li class="page-item">
                  @if (pag === '...') {
                  <a class="page-link">{{ pag }}</a>
                  } @else {
                  <a
                    class="page-link"
                    href="#"
                    (click)="goToPage(-(-pag))"
                    [class.active]="nPage - -1 === -(-pag)"
                  >
                    {{ pag }}
                  </a>
                  }
                </li>
                }
                <li class="page-item">
                  <a
                    class="page-link"
                    [class.disabled]="nPage - -1 === oPage?.totalPages"
                    (click)="goToNext()"
                    href="#"
                  >
                    Siguiente
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
