<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
          <h2 class="my-2 text-center">
            <i class="bi bi-people-fill"></i>
            Lista de Usuarios
            <i class="bi bi-person-badge"></i>
          </h2>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <a href="admin/usuario/create" class="btn btn-success">
              <i class="bi bi-plus-circle"></i>
              Crear nuevo usuario
            </a>
            <div class="input-group w-25">
              <input type="text" class="form-control" placeholder="Buscar" (keyup)="filter($event)" [(ngModel)]="strFiltro" />
              <button class="btn btn-outline-secondary" type="button">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <h5 class="text-muted">
              @if (strFiltro.length > 0) {
                Filtrado por: <span class="text-primary">{{ strFiltro }}</span>
              } @else {
                Sin filtrar
              }
            </h5>
            <h5 class="text-muted">
              Mostrando {{ oPage?.numberOfElements | number : "1.0-0" }} de
              {{ oPage?.totalElements | number : "1.0-0" }}
            </h5>
          </div>

          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead class="thead-dark">
                <tr>
                  <th (click)="sort('id')" class="cursor-pointer">
                    ID @if (strField === 'id') { @if (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('nombre')" class="cursor-pointer">
                    Nombre @if (strField === 'nombre') { @if (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('apellido1')" class="cursor-pointer">
                    Primer Apellido @if (strField === 'apellido1') { @if (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('apellido2')" class="cursor-pointer">
                    Segundo Apellido @if (strField === 'apellido2') { @if (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('email')" class="cursor-pointer">
                    Correo @if (strField === 'email') { @if (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('tipousuario')" class="cursor-pointer">
                    Tipo de usuario @if (strField === 'tipousuario') { @if (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  <th (click)="sort('tipousuario')" class="cursor-pointer">
                    Contratos @if (strField === 'tipousuario') { @if (strDir === 'desc') {
                    <i class="bi bi-caret-down-fill"></i>
                    } @else {
                    <i class="bi bi-caret-up-fill"></i>} }
                  </th>
                  
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                @for (usuario of oPage?.content; track usuario.id) {
                <tr>
                  <td class="text-center">{{ usuario.id }}</td>
                  <td>{{ usuario.nombre | trim : 10 }}</td>
                  <td>{{ usuario.apellido1 }}</td>
                  <td>{{ usuario.apellido2 }}</td>
                  <td style="font-size: small">{{ usuario.email }}</td>
                    <td class="text-start">
                      <a href="admin/tipousuario/view/{{ usuario.tipousuario.id }}">
                        {{ usuario.tipousuario.titulo }} ({{ usuario.tipousuario.id }})
                      </a>
                      <a href="admin/usuario/plist/xtipousuario/{{ usuario.tipousuario.id }}">
                        <i class="bi bi-filter-circle"></i>
                      </a>
                      <i class="bi bi-arrow-repeat" (click)="showTipousuarioSelectorModal(usuario.id)"></i>
                    </td>
                    <td class="text-center">
                      <a href="admin/grupocontrata/xusuario/plist/{{ usuario.id }}" class="btn btn-ver-contratos">
                        <i class="fas fa-file-contract"></i> Ver Contratos
                      </a>
                    </td>
                    
                    
                  <td>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-sm btn-outline-primary" (click)="view(usuario)">
                        <i class="bi bi-eye"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-outline-warning" (click)="edit(usuario)">
                        <i class="bi bi-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-outline-danger" (click)="remove(usuario)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                } @empty {
                <tr>
                  <td colspan="7" class="text-center">No hay usuarios</td>
                </tr>
                }
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-4">
            <nav>
              <ul class="pagination mb-0">
                <li class="page-item" [class.active]="nRpp === 10">
                  <a class="page-link" (click)="goToRpp(10)" href="#">10</a>
                </li>
                <li class="page-item" [class.active]="nRpp === 50">
                  <a class="page-link" (click)="goToRpp(50)" href="#">50</a>
                </li>
                <li class="page-item" [class.active]="nRpp === 100">
                  <a class="page-link" (click)="goToRpp(100)" href="#">100</a>
                </li>
              </ul>
            </nav>

            <nav>
              <ul class="pagination mb-0">
                <li class="page-item">
                  <a class="page-link" [class.disabled]="nPage - -1 === 1" (click)="goToPrev()" href="#">
                    <i class="bi bi-chevron-left"></i>
                    Anterior
                  </a>
                </li>
                @for (pag of arrBotonera; track pag) {
                <li class="page-item">
                  @if (pag === '...') {
                  <a class="page-link">{{ pag }}</a>
                  } @else {
                  <a class="page-link" href="#" (click)="goToPage(-(-pag))" [class.active]="nPage - -1 === -(-pag)">
                    {{ pag }}
                  </a>
                  }
                </li>
                }
                <li class="page-item">
                  <a class="page-link" [class.disabled]="nPage - -1 === oPage?.totalPages" (click)="goToNext()" href="#">
                    Siguiente
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>