<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="card shadow p-4" style="width: 80%; max-width: 600px;">
    <div class="card-body text-center">
      <h2 class="mb-3">
        <i class="bi bi-list"></i>
        Selector de tipo de Usuario
        <i class="bi bi-credit-card-fill"></i>
      </h2>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar" (keyup)="filter($event)" [(ngModel)]="strFiltro" />
      </div>

      <div class="d-flex justify-content-center mb-3">
        <div class="btn-group" role="group">
          <button class="btn btn-outline-primary" [class.active]="nRpp === 10" (click)="goToRpp(10)">10</button>
          <button class="btn btn-outline-primary" [class.active]="nRpp === 50" (click)="goToRpp(50)">50</button>
          <button class="btn btn-outline-primary" [class.active]="nRpp === 100" (click)="goToRpp(100)">100</button>
        </div>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-outline-secondary" (click)="goToPrev()" [disabled]="nPage - -1 === 1">
          <i class="bi bi-caret-left-square-fill"></i> Anterior
        </button>
        <button class="btn btn-outline-secondary" (click)="goToNext()" [disabled]="nPage - -1 === oPage?.totalPages">
          Siguiente <i class="bi bi-caret-right-square-fill"></i>
        </button>
      </div>

      <div class="list-group">
        @for (tipoUsuario of oPage?.content; track tipoUsuario.id) {
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ tipoUsuario.titulo | trim : 25 }}</span>
            <button class="btn btn-success btn-sm" (click)="select(tipoUsuario)">
              <i class="bi bi-check2-circle"></i>
            </button>
          </div>
        } @empty {
          <div class="list-group-item text-center text-muted">No hay tipoUsuarios</div>
        }
      </div>
    </div>
  </div>
</div>