<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card border-0 shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="fw-bold">
            <i class="bi bi-person-circle"></i> Edición del Producto
            <i class="bi bi-pencil"></i>
          </h2>
        </div>
        <div class="card-body">
          <form [formGroup]="oBebidaForm!" (ngSubmit)="onSubmit()" novalidate>
            <div class="mb-3">
              <label for="nombre" class="form-label fw-bold">Nombre</label>
              <input
                type="text"
                id="nombre"
                class="form-control"
                formControlName="nombre"
                placeholder="Nombre"
              />
              <div
                *ngIf="oBebidaForm?.get('nombre')?.errors"
                class="text-danger"
              >
                <small *ngIf="oBebidaForm?.get('nombre')?.hasError('required')"
                  >Debes introducir un nombre.</small
                >
                <small *ngIf="oBebidaForm?.get('nombre')?.hasError('minlength')"
                  >El nombre es demasiado corto.</small
                >
                <small *ngIf="oBebidaForm?.get('nombre')?.hasError('maxlength')"
                  >El nombre es demasiado largo.</small
                >
              </div>
            </div>

            <div class="mb-3">
              <label for="precio" class="form-label fw-bold">precio</label>
              <input
                type="number"
                id="precio"
                class="form-control"
                formControlName="precio"
                placeholder="precio"
              />
              <div
                *ngIf="oBebidaForm?.get('precio')?.errors"
                class="text-danger"
              >
                <small *ngIf="oBebidaForm?.get('precio')?.hasError('required')"
                  >Debes introducir un precio.</small
                >
                <small *ngIf="oBebidaForm?.get('precio')?.hasError('min')"
                  >El precio debe ser un número positivo.</small
                >
              </div>
            </div>

            <div class="mb-3">
              <label for="stock" class="form-label fw-bold">Stock</label>
              <input
                type="number"
                id="stock"
                class="form-control"
                formControlName="stock"
                placeholder="Stock"
              />
              <div
                *ngIf="oBebidaForm?.get('stock')?.errors"
                class="text-danger"
              >
                <small *ngIf="oBebidaForm?.get('stock')?.hasError('required')"
                  >Debes introducir un stock.</small
                >
                <small *ngIf="oBebidaForm?.get('stock')?.hasError('min')"
                  >El stock debe ser un número positivo.</small
                >
              </div>
            </div>

            <div class="mt-4 d-flex justify-content-evenly">
              <button
                class="btn btn-warning mt-4 mx-1"
                [routerLink]="['/admin', 'bebida', 'plist']"
              >
                <i class="bi bi-list"></i> Ir a listado de los productos
              </button>
              <button
                class="btn btn-secondary mt-4 mx-1"
                type="reset"
                (click)="onReset()"
              >
                <i class="bi bi-x-lg"></i> Reset
              </button>
              <button
                class="btn btn-success mt-4 mx-1"
                type="submit"
                [disabled]="!oBebidaForm?.valid"
              >
                <i class="bi bi-save"></i> Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    [id]="'mimodal'"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="hideModal()"
          ></button>
        </div>
        <div class="modal-body text-center">
          <p class="fs-5">{{ strMessage }}</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="hideModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
